<div id="textboxBackground">
    <div class="column">
      <h1 id="leader">About Us</h1>
      <h3 id="description">Discover your next favorite film. Our algorithm recommends movies based on your preferences for the ultimate movie-watching experience.</h3>
    </div>
    <br>


    <h1 id="attentionGrabber">Our Team Members:</h1>
  
    <div class="column1">
      <div class="aboutdescription">
        <h3>Charlie Chae - <a class="linkedpages" href="mailto: cchae@ggc.edu">cchae@ggc.edu</a></h3>
        <h3>Mark Bramblett - <a class="linkedpages" href="mailto: mbramblett@ggc.edu">mbramblett@ggc.edu</a></h3>
        <h3>Andres Sanchez - <a class="linkedpages" href="mailto: asanchez30@ggc.edu">asanchez30@ggc.edu</a></h3>

        <br>

        <h1 id="attentionGrabber">Our Main Goal:</h1>
        <p>"Maximize user engagement and satisfaction by offering personalized movie recommendations tailored to their interests and viewing habits."</p>

        <h1 id="attentionGrabber"></h1>
      </div>
      <!-- <br> -->
    </div>
  </div>
  