<div id="textboxBackground">
    <div class="column">
      <h1 id="leader">About Us</h1>
      <h3 id="description">Discover your next favorite film. Our algorithm recommends movies based on your preferences for the ultimate movie-watching experience.</h3>
    </div>
    <br>


    <h1 id="attentionGrabber">Our Team Members</h1>
  
    <div class="column1">
      <div class="aboutdescription">
        <h3>Charlie Chae</h3>
        <h3>Mark Bramblett</h3>
        <h3>Andres Sanchez</h3>

        <br>

        <h1 id="attentionGrabber">Our Main Goal:</h1>
        <p>"Maximize user engagement and satisfaction by offering personalized movie recommendations tailored to their interests and viewing habits."</p>
      </div>
      <!-- <br> -->
    </div>
  </div>
  