<div class="resources">
  <h1><b>Resources</b></h1>
  <p class="description">View resources used to create this project.</p>

  <p><a class="linkedpages" href="https://www.omdbapi.com">OMDB API</a> Fetches movie information</p>
  <p><a class="linkedpages" href="https://www.tensorflow.org/js">TensorFlow.js</a> Java Script machine learning library</p>
  <p><a class="linkedpages" href="https://angular.io">Angular</a> Platform for building mobile and desktop web applications</p>
  <p><a class="linkedpages" href="https://material.angular.io">Angular Material</a> Library that adds components to Angular</p>

</div>
