<div id="textboxBackground">
  <h1 id="leader"><b>Resources</b></h1>
  <p id="description">View resources used to create this project.</p>
  <div class="resourcesdescription">
    <h3><a class="linkedpages" href="https://www.omdbapi.com">OMDB API</a> - Fetches movie information</h3>
    <h3><a class="linkedpages" href="https://www.tensorflow.org">TensorFlow</a> - Python machine learning library</h3>
    <h3><a class="linkedpages" href="https://angular.io">Angular</a> - Platform for building mobile and desktop web applications</h3>
    <h3><a class="linkedpages" href="https://material.angular.io">Angular Material</a> - Library that adds components to Angular</h3>
    <h3><a class="linkedpages" href="https://www.djangoproject.com">Django</a> - Api for our the python</h3>
  </div>
</div>
