<div class="column">
    <mat-card>
      <div id="formHolder">
        <h3><b>Sign up:</b></h3>
        <form [formGroup]="signupForm" (ngSubmit)="signup()" type="">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input autocomplete="off" formControlName="name" type="name" matInput placeholder="Name">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
            </mat-form-field>
          </p>
          <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input autocomplete="off" formControlName="email" type="email" matInput placeholder="email">
          </mat-form-field>
        </p>
          <div *ngIf="errorMessage != ''" class="error-style">
            <span>{{ errorMessage }}</span>
          </div>

          <button mat-raised-button color="primary">Sign up</button>
        </form>
      </div>
    </mat-card>
  </div>
