<div id="textboxBackground">
  <div class="column">
    <h1 id="leader">Movie Recommender</h1> <br>
    <h2 id="description">Find movies similar to what you like with 3 easy steps!</h2>

    <div id="listContainer">
      <ul id="instructions">
        <li>Create and sign into an account</li>
        <li>Provide reviews for movies you have watched</li>
        <li>Get a list of recommendations</li>
      </ul>
    </div>
  </div>
  <br>
  <h1 id="attentionGrabber">Recommender System Attention Grabber!</h1>
  <div class="column1">
    <div class="homedescription">
      <h3>It can takes someone <b>10+ minutes</b> to find a movie to try</h3>
      <h3>It takes Recommender system <b>x seconds/minutes </b> to recommend x many movies</h3>
    </div>
  </div>
</div>
